<manifest package="com.isvisoft.flutter_screen_recording" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Agregar el permiso requerido para Android 14 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application>


        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.isvisoft.YourCastOptionsProvider" />

<!--        <service android:name=".ForegroundService"-->
<!--            android:foregroundServiceType="mediaProjection"-->
<!--            android:permission="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />-->

<!--        <service-->
<!--            android:name=".MyMediaProjectionService"-->
<!--            android:foregroundServiceType="mediaProjection"-->
<!--            android:exported="false">-->
<!--        </service>-->
        <service
            android:name="com.isvisoft.flutter_screen_recording.ForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection">
        </service>

    </application>
</manifest>